// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tax-rate-title {
  font-weight: bold;
  display: inline-block;
  width: 20%
}

li.list-group-item.total {
  background: lightgray;
}